jstest.js
test.js
.vim/
secret.fish
catppuccin/
alacritty/.config/alacritty/catppuccin
# fish/.config/fish
fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/functions
fish/.config/fish/fish_plugins
fish/.config/fish/fish_variables
