jstest.js
test.js
.vim/
secret.fish
catppuccin/
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
