jstest.js
test.js
.vim/
secret.fish
catppuccin/
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
fish/.config/fish
lazygit/.config/lazygit
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
alacritty/.config/alacritty/catppuccin
